.animal_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    column-width: 20px;

    width: 50%;
    margin: 0 auto;
}

.animal_div {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.animal_h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.lion_img {
    height:fit-content;
    width: fit-content;
}