.header {
    background-color: #FF8343;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 10rem;
  }
  .flex {
    display: flex;
  }
  .header_items {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 3rem;
    flex-direction: row;
}
.header_item {
  font-size: 1.3rem;
  color:  black;
  transition: ease 0.7s;
}
.header_item:hover {
  transform: rotate(10deg);
}
.header_item:active {
  color: rgb(241, 241, 158)
}
.footer {
  background-color: #0f4c5c;
  width: 100%;
  margin-top: rem;
  height: 15rem;
  text-align: center;
  bottom: 0;
}
.links {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 1rem;
}
.link {
  height: 1.6rem;
  width: auto;
  cursor: pointer;
  margin-top: 2rem;
}
.footer_title {
  justify-content: center;
  font-size: 3rem;
  color: #FF8343;
}
.inner_footer {
  display: flex;
  text-align: center;
  justify-content: center;
}
.contacts {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  color: #FF8343;
}
.contacti {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.title {
  font-size: 3rem;
}