.header {
    background-color: #FF8343;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 10rem;
  }
  .header_items {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 3rem;
    flex-direction: row;
}
.header_item {
  font-size: 1.3rem;
  color:  #aec3b0;
  transition: ease 0.7s;
}
.header_item:hover {
  transform: rotate(10deg);
  color: #e3efd3;
}
.footer {
  background-color: #0f4c5c;
  width: 100%;
  margin-top: 35%;
  height: 15rem;
}
