@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    font-size: 3rem;
    color: red;
}
.title {
    text-align: center;
    
}
.building {
    text-align: center;
}
.inner-building {
    background-color: #fb8b24;
    height: fit-content;
    text-align: left;
    margin-left: 25%;
    margin-right: 50%;
    margin-top: 2rem;
    vertical-align: middle;
    border-radius: 1rem;
}
.inner-building:hover {
    box-shadow: 20rem;
}
.text-build {
    font-size: 2rem;
}