@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    font-size: 3rem;
    color: red;
}
.title {
    text-align: center;
    
}

.building-overview-a {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.building-overview-div {
    background-color: #ff8343;
    color: black;

    text-align: center;
    font-size: 200%;
    
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    height: 150px;

    border: 3px solid black;

    vertical-align: middle;
}

p {
    vertical-align: middle;
    padding-top: 0rem;
}
